<div class="row body">
<div class="large-9 columns">	

<h1>Welcome to Band.io</h1>



<h4> Search for a Event by Date </h4>
<%= form_tag('/search', method: :get) do %>
<p> <%= date_select :date, :date %> </p>
<%=submit_tag "Search" %>
<% end %>

</div>
</div>
